<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TE screensharing app</title>
<!--
<script>
function sendCommand(command, data) {
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/mouse-control", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({ command, ...data }));
}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('moveUp').addEventListener('click', function() {
        sendCommand('move', { dx: 0, dy: -10 });
    });
    document.getElementById('moveDown').addEventListener('click', function() {
        sendCommand('move', { dx: 0, dy: 10 });
    });
    document.getElementById('moveLeft').addEventListener('click', function() {
        sendCommand('move', { dx: -10, dy: 0 });
    });
    document.getElementById('moveRight').addEventListener('click', function() {
        sendCommand('move', { dx: 10, dy: 0 });
    });
    document.getElementById('leftClick').addEventListener('click', function() {
        sendCommand('click', { button: 'left' });
    });
    document.getElementById('rightClick').addEventListener('click', function() {
        sendCommand('click', { button: 'right' });
    });
});
</script>
-->
</head>
<body>
 <img src="/feed" alt="Remote Screen" style="width: 100%; height: auto;">

</body>
</html>
